.submitBtn {
  border-radius: 1rem;
  width: 5rem;
}

.messageCard {
  max-width: 60%;
}
.bgLightBlue {
  background-color:aliceblue;
}

.messageScroll {
  height: 20rem;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  .messageCard {
    max-width: 100%;
  }
}  