.logoFont {
  font-family: Exo, Helvetica, Arial, sans-serif;
  font-weight: 620;
  font-size: 1.7rem;
  color: #110011;
}

.mainNavBar {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-weight: 450;
  font-size: large;
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  line-height: 50px;
  /* padding-top: 1rem; */
  background-color: #f5f5f5;
  font-size: 0.8rem;
}
.footerLink {  
  color: #5f6368;
}
.footerLink:hover {  
  color: #5f6368;
}