/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap'); */

body {
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
}

/* hover navbar button */
.navbar .navbar-nav .nav-link:hover {
  background-color: #f5f5f5;
}

/* underline active navbar link */
.navbar-nav > a {
  float: left;
  position: relative;
}
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .active::after {
    border-bottom: 2px solid #0081fa;
    bottom: -1.3rem;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
  }
}